html{
    background-color: black;
}

p{
    color: white;
}
button{
  background-color: transparent;
}
.arrow {
    border: solid rgb(255, 255, 255);
    border-width: 0 4px 4px 0;
    display: inline-block;
    padding: 3px;
  }
  
  
  .right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }
  
  .left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
  }
  
  .up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
  }
  
  .down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }