
h1{
   color: white;
   position: absolute
}
p{
   color: grey;
   position: absolute
}


.back {
    background-image: url('../Images/static.gif');
    background-size: cover; 
    background-repeat: repeat; 
    background-position: center center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    filter: blur(8px);
    -webkit-filter: blur(8px);
}