<!DOCTYPE html>
<html lang="en-AU">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width-device-width, initial-scale-1.0">
        <title>Home</title>
        <link rel="stylesheet" href="../static/CSS/theme.css">
    </head>
    <body style="text-align:center"; class="back">  
        <div class="grid-container">
          <!--Navigation Section-->
          <div class="item">
            <nav>
                <ul>
                    <li>To do: add more features</li>
                </ul>
            </nav>
          </div>
          <div class="item2">
            <p>Nothing here yet...</p>
          </div>
          <div class="item3">
            <!--Content Section-->
            <p title="And so you are here..."; id="Text">
            </p>
            <hr>
            <img src="../static/Images/placeholder.png", alt="Picture", style="width:500px; height:500px;">
            <hr>
            <script src="../static/script/text.js"></script>
            <p>Just know, you aren't alone in your struggles, there are others like you, you are never truly alone, no matter what anyone else tells you, because someone out there cares.</p>
          </div>
        </div>
    </body>
</html>