<!DOCTYPE html>
<html lang="en-AU">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width-device-width, initial-scale=0.75, maximum-scale=0.75">
        <title>Home</title>
        <link rel="stylesheet" href="../static/CSS/theme.css">
    </head>
    <body style="text-align:center"; class="back">  
        <div class="grid-container">
          <!--Navigation Section-->
          <div class="item">
            <nav>
                <ul>
                    <li>What's here doesn't matter.</li>
                </ul>
            </nav>
          </div>
          <div class="item2">
            <p>What's here doesn't matter.</p>
          </div>
          <div class="item3">
            <!--Content Section-->
            <p id="Text">
            </p>
            <hr>
            <img src="../static/Images/Loneliness.png", alt="Picture", style="width:500px; height:500px;">
            <hr>
            <script src="../static/script/text.js"></script>
            <p></p>
          </div>
        </div>
    </body>
</html>