<!DOCTYPE html>
<html lang="en-AU">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width-device-width, initial-scale-1.0">
        <title>Home</title>
        <link rel="stylesheet" href="../static/CSS/theme.css">
    </head>
    <body style="text-align:center"; class="back">  
        <div class="grid-container">
          <!--Navigation Section-->
          <div class="item">
            <nav>
                <ul>
                    <li><a href="{{ url_for('user', username=current_user.username) }}">Profile</a></li>
                    <li><a href="/edit_profile">Edit Your Profile</a></li>
                    <li><a href="{{ url_for('logout') }}">Logout</a></li>
                </ul>
            </nav>
          </div>
          <div class="item2">
            <p>Nothing of interest yet :)</p>
          </div>
          <div class="item3">
            <!--Content Section-->
            <p title="And so you are here..."; id="Text">
            </p>
            <hr>
            <img src="../static/Images/placeholder.png", alt="Picture", style="width:500px; height:500px;">
            <hr>
            <script src="../static/script/text.js"></script>
            {% block content %}
             <h1>Hi, {{current_user.username}}! Nice to see you, just know you aren't alone :).</h1>
             {% for post in posts %}
             <div><p>A User says: <b>{{post.body}}</b></p></div>
             {% endfor %}
            {% endblock %}
          </div>
        </div>
    </body>
</html>