<!DOCTYPE html>
<html lang="en-AU">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width-device-width, initial-scale-1.0">
        <title>Home</title>
        <link rel="stylesheet" href="../static/CSS/theme.css">
    </head>
    <body style="text-align:center"; class="back">  
        <div class="grid-container">
          <!--Navigation Section-->
          <div class="item">
            <nav>
                <ul>
                    <li><a href="/edit_profile">Edit Your Profile</a></li>
                </ul>
            </nav>
          </div>
          <div class="item2">
            <!--Heading Section-->
            <h1>About this Website</h1>
            <h2>Heading 2</h2>    
          </div>
          <div class="item3">
            <!--Content Section-->
            <p title="And so you are here..."; id="Text">
            </p>
            <hr>
            <a href="https://gosford-high-school.gitbook.io/10-computing-tech/web-apps/2-html-and-css-lessons/html-lessons/video-tutorials">HTML Tutorials</br><br></a>
            <img src="../static/Images/placeholder.png", alt="Picture", style="width:500px; height:500px;">
            <hr>
            <script src="../static/script/text.js"></script>
            {% block content %}
             <h1>Hi, {{current_user.username}}!</h1>
             {% for post in posts %}
             <div><p>{{post.author.username}} says: <b>{{post.body}}</b></p></div>
             {% endfor %}
            {% endblock %}
          </div>
        </div>
    </body>
</html>