<!DOCTYPE html>
<html lang="en-AU">
    <head>
      <title>???</title>
      <meta charset="UTF-8">
      <meta name="viewport" content="width-device-width, initial-scale-1.0">
      <link rel="stylesheet" href="../static/CSS/arrow.css">
    </head>
    <body>
      <noscript>
        <p>This website needs javascript thank you :D</p>
      </noscript>
      <p>How many friends do you have?</p><br>
      <button id="upArrow"><i class="arrow up"></i></button>
      <p id="Num">0</p>
      <button id="downArrow"><i class="arrow down"></i></button><br><br>
      <button style="color: white"; id="submit";>Submit</button>
      <script src="../static/script/Counter.js"></script>
    </body>